@font-face {
    font-family: 'Romavich';
    src: url("/font/romavichregular-z8ww1.ttf");
}

:root{
    --kBlue: #2a9fff;
    --kdarkBlue: #0000ff;
}

main{
    display: flex;
    background-color: var(--kBlue);
}

.sidePanel{
    background-image: url("/images/heather-shevlin-ObuGKWVUkcY-unsplash.jpg");
    background-size: cover;
    height: 100vh;
    width: clamp(450px, 40vw, 50vw);
    .brand{
        height: 200px;
        width: clamp(450px, 40vw, 50vw);
        background-color: #333;
        opacity: .5;
        position: absolute;
        top: 20vh;
        left: 0;
    }
    .logoName{
        display: flex;
        position: absolute;
        top: 20vh;
        left: 20px;
        z-index: 10;
        img[src="images/KBNOnewLogo.png"]{
            height: 200px;
            width: auto;
        }
        .name{
            margin-top: 35px;
            margin-left: 10px;
            font-size: 150px;
            font-family: 'Romavich',sans-serif;
        }
    }
    .artistCredit{
        position: absolute;
        bottom: 10px;
        text-align: center;
        width: 20vw;
        margin: auto;
        transform: translateX(50%);
        font-family: 'Romavich';
        font-size: 16px;
        a:link{
            color: var(--kBlue);
            text-decoration: none;
        }
        a:visited{
            color: darkslateblue;
        }
    }//end artistCredit
}//end sidePanel

.infoSection{
    width: 50vw;
    //padding-left: 20px;
    align-self: center;//maybe??????
    .header{
        position: relative;
        top: 10px;
        font-family: sans-serif;
        font-size: 14pt;
        font-weight: 500;
        padding-left: 20px;
    }
    .formLayout{
        width: calc(60vw - 120px);
        background: lightcyan;
        padding: 40px 60px;
        box-shadow: 0px 2px 5px #444;
        z-index: 20;
        input, label{
            display: block;
        }
        input{
            border-radius: 8px;
            border: none;
            box-shadow: 2px 2px 2px #777;
            margin-bottom: 8px;
        }
        label{
            font-family: 'Romavich',sans-serif;
        }
        .left{
            float: left;
            margin-right: 30px;
        }
    }//end formLayout
    .footer{
        padding: 40px 20px;
        button{
            width: 150px;
            height: 50px;
            border: none;
            border-radius: 10px;
            font-size: 12pt;
            font-family: sans-serif;
            font-weight: bold;
            background-color: var(--kdarkBlue);
            color: #faf9f6;
        }
        p{
            font-family: sans-serif;
            font-weight: bold;
            a:link{
                color: var(--kdarkBlue);
                text-decoration: none;
            }
            a:visited{
                color: darkslateblue;
            }
        }
    }
}//end infoSection

//change layout for 930px or smaller
@media only screen and (max-width: 930px){
    main{
        flex-direction: column;
    }
    .sidePanel{
        width: 100vw;
        display: flex;
        .brand{
            top: 30vh;
            width: 100vw;
        }
        .logoName{
            top: 30vh;
            left: 50vw;
            transform: translateX(-50%);
        }
    }
}