@font-face {
  font-family: "Romavich";
  src: url("/font/romavichregular-z8ww1.ttf");
}
:root {
  --kBlue: #2a9fff;
  --kdarkBlue: #0000ff;
}

main {
  display: flex;
  background-color: var(--kBlue);
}

.sidePanel {
  background-image: url("/images/heather-shevlin-ObuGKWVUkcY-unsplash.jpg");
  background-size: cover;
  height: 100vh;
  width: clamp(450px, 40vw, 50vw);
}
.sidePanel .brand {
  height: 200px;
  width: clamp(450px, 40vw, 50vw);
  background-color: #333;
  opacity: 0.5;
  position: absolute;
  top: 20vh;
  left: 0;
}
.sidePanel .logoName {
  display: flex;
  position: absolute;
  top: 20vh;
  left: 20px;
  z-index: 10;
}
.sidePanel .logoName img[src="images/KBNOnewLogo.png"] {
  height: 200px;
  width: auto;
}
.sidePanel .logoName .name {
  margin-top: 35px;
  margin-left: 10px;
  font-size: 150px;
  font-family: "Romavich", sans-serif;
}
.sidePanel .artistCredit {
  position: absolute;
  bottom: 10px;
  text-align: center;
  width: 20vw;
  margin: auto;
  transform: translateX(50%);
  font-family: "Romavich";
  font-size: 16px;
}
.sidePanel .artistCredit a:link {
  color: var(--kBlue);
  text-decoration: none;
}
.sidePanel .artistCredit a:visited {
  color: darkslateblue;
}

.infoSection {
  width: 50vw;
  align-self: center;
  display: flex;
  flex-direction: column;
}
.infoSection .header {
  position: relative;
  top: 10px;
  font-family: sans-serif;
  font-size: 14pt;
  font-weight: 500;
  padding-left: 20px;
}
.infoSection .formLayout {
  width: calc(60vw - 120px);
  background: lightcyan;
  padding: 40px 60px;
  box-shadow: 0px 2px 5px #444;
  z-index: 20;
}
.infoSection .formLayout input, .infoSection .formLayout label {
  display: block;
}
.infoSection .formLayout input {
  border-radius: 8px;
  border: none;
  box-shadow: 2px 2px 2px #777;
  margin-bottom: 8px;
}
.infoSection .formLayout label {
  font-family: "Romavich", sans-serif;
}
.infoSection .formLayout .left {
  float: left;
  margin-right: 30px;
}
.infoSection .footer {
  padding: 40px 20px;
}
.infoSection .footer button {
  width: 150px;
  height: 50px;
  border: none;
  border-radius: 10px;
  font-size: 12pt;
  font-family: sans-serif;
  font-weight: bold;
  background-color: var(--kdarkBlue);
  color: #faf9f6;
}
.infoSection .footer p {
  font-family: sans-serif;
  font-weight: bold;
}
.infoSection .footer p a:link {
  color: var(--kdarkBlue);
  text-decoration: none;
}
.infoSection .footer p a:visited {
  color: darkslateblue;
}

@media only screen and (max-width: 930px) {
  main {
    flex-direction: column;
  }
  .sidePanel {
    width: 100vw;
    display: flex;
  }
  .sidePanel .brand {
    top: 30vh;
    width: 100vw;
  }
  .sidePanel .logoName {
    top: 30vh;
    left: 50vw;
    transform: translateX(-50%);
  }
  .infoSection {
    width: 60vw;
  }
  .infoSection .header {
    text-align: center;
  }
  .infoSection .formLayout {
    width: 60vw;
    align-self: center;
  }
  .infoSection .footer {
    text-align: center;
  }
}
@media only screen and (max-width: 730px) {
  .infoSection .formLayout {
    width: 30vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}/*# sourceMappingURL=main.css.map */