@font-face {
    font-family: 'Romavich';
    src: url("/font/romavichregular-z8ww1.ttf");
}

:root{
    --kBlue: #2a7fff;
}

main{
    display: flex;
}

.sidePanel{
    background-image: url("/images/heather-shevlin-ObuGKWVUkcY-unsplash.jpg");
    background-size: cover;
    height: 100vh;
    width: clamp(450px, 40vw, 50vw);
    .brand{
        height: 200px;
        width: clamp(450px, 40vw, 50vw);
        background-color: #333;
        opacity: .5;
        position: absolute;
        top: 20vh;
        left: 0;
    }
    .logoName{
        display: flex;
        position: absolute;
        top: 20vh;
        left: 20px;
        z-index: 10;
        img[src="images/KBNOnewLogo.png"]{
            height: 200px;
            width: auto;
        }
        .name{
            margin-top: 35px;
            margin-left: 10px;
            font-size: 150px;
            font-family: 'Romavich',sans-serif;
        }
    }
    .artistCredit{
        position: absolute;
        bottom: 10px;
        text-align: center;
        width: 20vw;
        margin: auto;
        transform: translateX(50%);
        font-family: 'Romavich';
        font-size: 16px;
        a:link{
            color: var(--kBlue);
            text-decoration: none;
        }
        a:visited{
            color: darkslateblue;
        }
    }//end artistCredit
}//end sidePanel

.infoSection{
    width: 50vw;
    margin-left: 20px;
    align-self: center;//maybe??????
    
}